<div class="row top-buffer">
    <div class="col-xs-10 col-xs-push-1 text-center">
        <div class="center-block">
            <overdrive-pedal></overdrive-pedal>

            <distortion-pedal></distortion-pedal>

            <flanger-pedal></flanger-pedal>

            <chorus-pedal></chorus-pedal>

            <delay-pedal></delay-pedal>
        </div>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-xs-2 col-xs-push-5 text-center">
        <input-controls></input-controls>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-xs-2 col-xs-push-5 text-center">
        <samples-list></samples-list>
    </div>
</div>
