<div class="pedal chorus">
    <div class="knobs">
        <span class="led"></span>
        <webaudio-knob id="chorus-rate" class="knob chorus-rate" src="assets/img/knobman-basic.png" value="3.5" min="0.5" max="15" sprites="30" diameter="56"
                       valuetip="0" step="0.25"></webaudio-knob>
        <webaudio-knob id="chorus-delay" class="knob chorus-delay" src="assets/img/knobman-basic.png" value="0.03" min="0.005" max="0.55" sprites="30" diameter="56"
                       valuetip="0" step="0.005"></webaudio-knob>
        <webaudio-knob id="chorus-depth" class="knob chorus-depth" src="assets/img/knobman-basic.png" value="0.002" min="0.0005" max="0.004" sprites="30" diameter="56"
                       valuetip="0" step="0.0005"></webaudio-knob>
    </div>
    <div class="name">
        <h2>Chorus</h2>
    </div>
    <webaudio-switch id="chorus-foot-sw" class="foot-sw" src=""></webaudio-switch>
</div>