<div class="pedal distortion">
    <div class="knobs">
        <webaudio-knob id="distortion-volume" class="knob-left" src="assets/img/knobman-basic.png" value="5.5" min="1" max="10" sprites="30" diameter="64"
                       valuetip="0" step="0.5"></webaudio-knob>
        <span class="led"></span>
        <webaudio-knob id="distortion-tone" class="knob-right" src="assets/img/knobman-basic.png" value="5.5" min="1" max="10" sprites="30" diameter="64"
                       valuetip="0" step="0.5"></webaudio-knob>
    </div>
    <webaudio-switch id="distortion-foot-sw" class="foot-sw" src=""></webaudio-switch>
</div>'