<div class="pedal flanger">
    <div class="knobs">
        <span class="led"></span>
        <webaudio-knob id="flanger-speed" class="knob flanger-speed" src="assets/img/knobman-basic.png" value="0.7" min="0.05"
                       max="5" sprites="30" diameter="48"
                       valuetip="0" step="0.05"></webaudio-knob>
        <webaudio-knob id="flanger-delay" class="knob flanger-delay" src="assets/img/knobman-basic.png" value="0.003"
                       min="0.001" max="0.02" sprites="30" diameter="48" valuetip="0" step="0.001"></webaudio-knob>
        <webaudio-knob id="flanger-depth" class="knob flanger-depth" src="assets/img/knobman-basic.png" value="0.0013" min="0.0005"
                       max="0.005" sprites="30" diameter="48" valuetip="0" step="0.00025"></webaudio-knob>
        <webaudio-knob id="flanger-feedback" class="knob flanger-feedback" src="assets/img/knobman-basic.png" value="0.4" min="0"
                       max="1" sprites="30" diameter="48"
                       valuetip="0" step="0.01"></webaudio-knob>
    </div>
    <div class="settings">
        <h6 class="flanger-speed">Speed</h6>
        <h6 class="flanger-delay">Delay</h6>
        <h6 class="flanger-depth">Depth</h6>
        <h6 class="flanger-feedback">Feedback</h6>
    </div>
    <div class="name flanger">
        <h2>Flanger</h2>
    </div>
    <webaudio-switch id="flanger-foot-sw" class="foot-sw flanger-sw" src=""></webaudio-switch>
</div>