<div class="pedal overdrive">
    <div class="knobs">
        <webaudio-knob id="overdrive-volume" class="knob-left" src="assets/img/knobman-basic.png" value="5.5" min="1" max="10" sprites="30" diameter="64"
                       valuetip="0" step="0.5"></webaudio-knob>
        <span class="led"></span>
        <webaudio-knob id="overdrive-tone" class="knob-right" src="assets/img/knobman-basic.png" value="5.5" min="1" max="10" sprites="30" diameter="64"
                       valuetip="0" step="0.5"></webaudio-knob>
    </div>
    <div class="name">
        <h2>Overdrive</h2>
    </div>
    <webaudio-switch id="overdrive-foot-sw" class="foot-sw" src=""></webaudio-switch>
</div>